<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Github Open Issues</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script> -->
</head>
<body>
    <h3>Enter Github repository URL to get the count of open issues</h3>
    <form action="/" method="POST">
        <div>
            Enter repository URL:<br>
            <input style="width: 35%" type="url" name="repoURL" placeholder="https://github.com/Microsoft/calculator/issues">
        </div>
        <div>
            <button type="Submit">Click to Get Count</button>
        </div>
    </form> 
</body>
</html>